/**/

html{
    font-size: 25pt;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text-color);
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    line-height: var(--lh-tighter);
}

nav, main, footer, header {
    max-width: 100%;
}

nav{
    padding: var(--l);
}

nav li {
    display: inline-block;
    border-bottom: solid 4px;  
}

main{
    padding: var(--l);
}

article{
    margin-top: calc(var(--bfs) * 9.313);
}

h1{
    font-size: calc(var(--bfs) * 3.052);
    margin-bottom: var(--l);
}

h2{
    font-size: var(--xxl);
    color: var(--yellow);
    margin-bottom: var(--l);
}

h3{
    font-size: var(--l);
    margin-top: var(--l);
    margin-bottom: var(--m);
}

h4{
    font-size: var(--m);
    color: var(--yellow);
    margin-top: var(--l);
    margin-bottom: var(--xs);
}

p{
    line-height: var(--lh-normal);
    margin-bottom: var(--m);
}

figcaption{
    font-size: var(--xs);
    width: 50%;
    margin: auto;
}

img{
    width: 100%;
}

blockquote{
    font-style: italic;
    color: var(--yellow);
    margin-top: 64px;
    margin-bottom: 64px;
}

/*TABELS*/
table{
    margin-top: 64px;
    margin-bottom: 64px;
    text-align: left;
}

th, td {
    border-bottom: 2px solid black;
    font-size: var(--s);
    padding: var(--xs);
    vertical-align: middle;
  }

thead{
    font-weight: bold;
}

hr{
    border-top: 4px solid;
    width: 100%;
    margin-bottom: var(--m);
}



