/**/

html{
    font-size: 25pt;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text-color);
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    line-height: var(--lh-tighter);
    color: #666;
}

nav, main, footer, header {
    max-width: 100%;
}

nav{
    padding: var(--l);
}

main{
    padding: var(--l);
}

article{
    margin-top: calc(var(--bfs) * 9.313);
}

h1{
    font-size: calc(var(--bfs) * 3.052);
    margin-bottom: var(--l);
    color:orange;
}

h2{
    font-size: var(--xxl);
}

h3{
    font-size: var(--xxl);
}

h4{
    font-size: var(--l);
}

p{
    line-height: var(--lh-normal);
    margin-top: var(--m);
    margin-bottom: var(--m);
}

figcaption{
    font-size: var(--xs);
    width: 50%;
    margin: auto;
}


nav li {
    display: inline-block;
    border-bottom: solid 4px;
    
    
}

img{
    width: 100%;
}

/*TABELS*/
table{
    margin-top: 128px;
    margin-bottom: 128px;
}

th, td {
    border: 2px solid black;
    font-size: var(--s);
    padding: var(--xxs);
    vertical-align: middle;
  }

thead{
    font-weight: bold;
    background-color: grey;
}

tbody{
    text-align: left;
}



