html{
    font-family: serif;
    font-size: 12pt;
    color: black;
    line-height: 130%;
}

Section{        
    margin-top: 16px;
    margin-bottom: 16px;        
    
    padding-left: 32px;
    padding-right: 256px;
    padding-top: 16px;
    padding-bottom: 16px;
}

h1{
    font-size: 37pt;
    font-family: sans-serif;
    color: #666;
}

h2{
    font-size: 23pt;
}

h3{
    font-size: 19pt;
}



blockquote{
    font-style: italic;
}


.intro {
    font-family: sans-serif;
    color: darkgray;
}

.divIntro {
    width: 50%;
}

.divBase{
    padding-left: 128px;
}

.firstSection{        
    padding-left: 32px;
    padding-right: 256px;
    padding-top: 16px;
    padding-bottom: 32px;
}
