html{
    font-family: serif;
    font-size: 12pt;
    color: black;
    line-height: 130%;
}

Section{        
    padding-left: 32px;
    padding-right: 256px;
    padding-top: 16px;
    padding-bottom: 16px;

    margin-top: 64px;
}