/*
    57.22em
    4.768em

    45.776em
    3.815em

    36.621em
    3.052em

    29.297em
    2.441em

    23.438em
    1.953em

    18.75em
    1.563em

    15em
    1.25em

    12em
    1em

    9.6em
    0.8em

    7.68em
    0.64em

    6.144em
    0.512em

    4.915em
    0.41em
*/


html{
    font-family: serif;
    font-size: 12pt;
    color: black;
    line-height: 130%;
}

Section{        
    padding-left: 32px;
    padding-right: 256px;
    padding-top: 16px;
    padding-bottom: 16px;

    margin-top: 64px;
}

