
html {
    font-size: 25pt;
}

body {
    color: var(--text-color);
    font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
    line-height: var(--lh-tighter);
}

nav main footer header {
    max-width: 100%;
}

nav {
    padding: var(--l);
}

nav li {
    display: inline-block;
    border-bottom: solid 4px;
}

main {
    padding: var(--l);
}

article {
    margin-top: calc(var(--bfs) * 9.313);
}

h1 {
    margin-bottom: var(--l);
    font-size: calc(var(--bfs) * 3.052);
}

h2 {
    margin-bottom: var(--l);
    color: var(--yellow);
    font-size: var(--xxl);
}

h3 {
    margin-top: var(--l);
    margin-bottom: var(--m);
    font-size: var(--l);
}

h4 {
    margin-top: var(--l);
    margin-bottom: var(--xs);
    color: var(--yellow);
    font-size: var(--m);
}

p {
    margin-bottom: var(--m);
    line-height: var(--lh-normal);
}

figcaption {
    width: 50%;
    margin: auto;
    font-size: var(--xs);
}

img {
    width: 100%;
}

blockquote {
    margin-top: 64px;
    margin-bottom: 64px;
    color: var(--yellow);
    font-style: italic;
}

cite {
    font-style: italic;
}

/* TABELS */
table {
    margin-top: 64px;
    margin-bottom: 64px;
    text-align: left;
}

th,
td {
    padding: var(--xs);
    border-bottom: 2px solid black;
    font-size: var(--s);
    vertical-align: middle;
}

thead {
    font-weight: bold;
}

hr {
    width: 100%;
    border-top: 4px solid;
    margin-bottom: var(--m);
}
